html{
    background-color:   #bfbfbf;
}
body{
    
}
.clear{
    clear:              both;
}
.container{
    width:              1000px;
    margin:             auto;
}

header{
    height:             99px;
    background-image:   url('/img/headerBG.png');
    background-repeat:  repeat-x;
    z-index:            1000;
    position:           relative;
}
    .logotip{
        float:              left;
        margin-left:        -47px;
    }
    header nav{
        float:              right;
    }
        header nav a,
        header nav a:link,
        header nav a:visited,
        header nav a:active{
            float:              left;
            text-align:         center;
            font-size:          12px;
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            color:              #fff;
            text-decoration:    none;
            padding-top:        24px;
            padding-left:       25px;
            padding-right:      25px;
        }
        header nav a:hover{
            color:              #fff;
            background-image:   url('/img/pageSelector.png');
            background-position: top center;
            background-repeat:  no-repeat;
        }
        header nav .separate{
            float:              left;
            background-image:   url('/img/separate.png');
            width:              2px;
            height:             93px;
        }
.subheader{
    height:             28px;
    background-image:   url('/img/subheaderBG.png');
    background-position:top left;
    background-repeat:  repeat-x;
    margin-top:         -9px;
    padding-top:        9px;
    z-index:            900;
    position:           relative;
}
    .inline-form{
        float:              right;
        margin-top:         -4px;
    }
        .inline-form span{
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-size:          12px;
            text-shadow:        1px 1px 2px #fff;
            color:              #353535;
        }
        .inline-form input{
            background-image:   url('/img/subheaderField.png');
            background-position:top left;
            background-repeat:  no-repeat;
            width:              73px;
            height:             18px;
            padding:            2px 7px;
            line-height:        18px;
            border:             none;
            background-color:   transparent;
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-size:          12px;
            color:              #8e8e8e;
        }
        .inline-form button{
            margin:             0px;
            padding:            0px;
            width:              91px;
            height:             26px;
            padding-left:       35px;
            padding-top:        2px;
            margin-top:         1px;
            font-size:          11px;
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-weight:        bold;
            color:              #5d5d5d;
            background-image:   url('/img/loginBTN.png');
            filter:             0 !important;
            background-color:   transparent;
            border:             none;
            text-align:         left;
        }
    .highlight{
        background-image:   url('/img/subheaderHL.png');
        background-position:center;
        background-repeat:  no-repeat;
        width:              400px;
        height:             38px;
        margin-top:         -10px;
        float:              left;
        margin-left:        -47px;
        padding-left:       47px;
    }
        .subheader .hello{
            background-image:   url('/img/subheader/userIcon.png');
            background-position:top left;
            background-repeat:  no-repeat;
            color:              #353535;
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-size:          16px;
            padding-left:       25px;
            margin-top:         10px;
        }
            .subheader .hello a{
                color:              #074284;
                text-decoration:    none;
            }
    .logout{
        float:              right;
    }
        .logout span{
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-size:          16px;
            text-shadow:        1px 1px 2px #fff;
            color:              #353535;
            display:            block;
            float:              left;
            margin-top:         2px;
            margin-right:       9px;
        }
        .logout a{
            margin:             0px;
            padding:            0px;
            width:              60px;
            height:             24px;
            padding-left:       31px;
            padding-top:        2px;
            margin-top:         -2px;
            font-size:          11px;
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-weight:        bold;
            color:              #5d5d5d;
            background-image:   url('/img/loginBTN.png');
            background-color:   transparent;
            border:             none;
            text-align:         left;
            float:              left;
            display:            block;
            line-height:        25px;
            text-decoration:    none;
        }
.content{
    min-height:         500px;
    background-image:   url('/img/bg.png');
    padding-bottom:     203px;
    padding-top:        40px;
}
    aside{
        float:              left;
        width:              202px;
    }
    section{
        float:              right;
        width:              762px;
    }
        section .box{
            width:              720px;
            padding:            10px 20px 20px;
            background-color:   #f4f4f4;
            border:             1px solid #fff;
            border-radius:      4px;
            -moz-border-radius: 4px;
            -webkit-border-radius:4px;
            box-shadow:         2px 2px 5px #ccc;
            -moz-box-shadow:    2px 2px 5px #ccc;
            -webkit-box-shadow: 2px 2px 5px #ccc;
        }
.city{
    margin-top:         -133px;
    height:             133px;
    background-image:   url('/img/footerCity.png');
    background-position:center;
    background-repeat:  no-repeat;
}
footer{
    height:             63px;
    background-image:   url('/img/footerBG.png');
}
    .copyright{
        float:              left;
        color:              #6c6c6c;
        font-family:        Arial, Helvetica, sans-serif;
        font-size:          11px;
        padding-top:        17px;
    }
        .copyright a{
            font-weight:        bold;
            color:              #0c6aa8;
            text-decoration:    none;
        }
        .copyright a:hover{
            text-decoration:    underline;
        }
        .copyright nav{
            color:              #c5c5c5;
        }
            .copyright nav a{
                color:              #c5c5c5;
                text-decoration:    none;
            }
            .copyright nav a:hover{
                text-decoration:    underline;
            }
    footer .logotip{
        padding-top:        14px;
        float:              right;
    }









/* Login page */

/* Register New Account */
.register{
    width:              425px;
    padding:            20px 50px;
    background-color:   #f4f4f4;
    border:             1px solid #fff;
    border-radius:      4px;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    box-shadow:         2px 2px 5px #ccc;
    -moz-box-shadow:    2px 2px 5px #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    float:              left;
}
    .register h1{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          18px;
        font-weight:        bold;
        color:              #939797;
        text-align:         center;
    }
    .register .errorPlace{
        
    }
        .register .errorPlace .close{
            
        }
        .register .errorPlace .text{
            
        }
    .register label{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          15px;
        font-weight:        normal;
        color:              #043d78;
        display:            block;
        clear:              both;
    }
        .register label input{
            width:              403px;
            height:             31px;
            border:             1px solid #ddd;
            background-color:   #fff;
            border-radius:      3px;
            -moz-border-radius: 3px;
            -webkit-border-radius:3px;
            margin-bottom:      10px;
            margin-top:         5px;
            padding:            0px 10px;
            box-shadow:         inset 2px 2px 7px 0px #eee;
            -webkit-box-shadow: inset 2px 2px 7px 0px #eee;
            -moz-box-shadow:    inset 2px 2px 7px 0px #eee;
        }
        .register label input[type="radio"],
        .register label input[type="checkbox"]{
            background-color:   transparent;
            border:             none;
        }
    .register label.inline{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          13px;
        font-weight:        normal;
        color:              #6c6c6c;
        display:            block;
        line-height:        42px;
    }
        .register label.inline input{
            width:              270px;
            float:              right;
        }
    .register button{
        padding:            0;
        margin:             0;
        border:             none;
        background-color:   transparent;
        margin:             auto;
        margin-top:         10px;
        background-image:   url('/img/signUpBTN.png');
        filter:             0 !important;
        width:              165px;
        height:             43px;
        display:            block;
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          16px;
        font-weight:        bold;
        color:              #fff;
        text-align:         left;
        padding-left:       50px;
        padding-top:        2px;
        text-shadow:        1px 1px 3px #905310;
        filter:             dropshadow(color=#905310, offx=1, offy=1);
    }



/* Login form */
.login{
    width:              390px;
    border:             1px solid #bbbbbb;
    border-radius:      8px;
    -moz-border-radius: 8px;
    -webkit-border-radius:8px;
    float:              right;
    background-image:   url('/img/loginFormBG.png');
    text-align:         center;
    padding-top:        20px;
    box-shadow:         0px 2px 5px #ccc;
    -moz-box-shadow:    0px 2px 5px #ccc;
    -webkit-box-shadow: 0px 2px 5px #ccc;
}
    .login h1{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          18px;
        font-weight:        bold;
        color:              #939797;
        text-align:         center;
    }
    .login input[type="text"],
    .login input[type="password"]{
        width:              192px;
        height:             36px;
        border:             1px solid #f7f6f6;
        background-color:   #f7f6f6;
        border-radius:      5px;
        -moz-border-radius: 5px;
        -webkit-border-radius:5px;
        margin-bottom:      3px;
        margin-top:         3px;
        padding:            0px 10px;
        box-shadow:         inset 0px 2px 4px 0px #e8e8e8;
        -webkit-box-shadow: inset 0px 2px 4px 0px #e8e8e8;
        -moz-box-shadow:    inset 0px 2px 4px 0px #e8e8e8;
        color:              #787878;
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          14px;
        line-height:        36px;
    }
    .login button{
        padding:            0;
        margin:             0;
        border:             none;
        background-color:   transparent;
        margin:             auto;
        margin-top:         15px;
        background-image:   url('/img/signUpBTN.png');
        filter:             0 !important;
        width:              165px;
        height:             43px;
        display:            block;
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          16px;
        font-weight:        bold;
        color:              #fff;
        text-align:         left;
        padding-left:       50px;
        padding-top:        2px;
        text-shadow:        1px 1px 3px #905310;
        filter:             dropshadow(color=#905310, offx=1, offy=1);
        margin-bottom:      8px;
    }
    .login label{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          12px;
        font-weight:        normal;
        color:              #939797;
        line-height:        20px;
        vertical-align:     top;
    }
    .login .checkHider{
        background-image:   url('/img/checkBoxHider.png');
        background-position:bottom left;
        background-repeat:  no-repeat;
        width:              15px;
        height:             14px;
        cursor:             pointer;
        display:            inline-block;
        *display:           inline;
        *zoom:              1;
        margin-right:       3px;
    }
    .login input[type="checkbox"]{
        /*display:            none;*/
    }
    .login .errorPlace {
        margin:             10px;
    }
    .login .forgot{
        position:           absolute;
        margin-top:         10px;
        width:              390px;
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          11px;
        font-weight:        normal;
        color:              #797979;
        text-shadow:        1px 1px #fff;
    }
        .login .forgot a{
            color:              #074284;
            text-decoration:    none;
        }






/* User dashboard at left side */
.dashboard{
    width:              186px;
    background-color:   #f4f4f4;
    border:             1px solid #fff;
    border-radius:      4px;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    box-shadow:         2px 2px 5px #ccc;
    -moz-box-shadow:    2px 2px 5px #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    padding:            7px 7px 0px 7px;
    position:           relative;
    z-index:            100;
}
    .dashboard .profile{
        width:              186px;
        height:             34px;
        border-radius:      3px;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        padding-top:        96px;
        margin-bottom:      16px;
    }
        .dashboard .userName{
            width:              186px;
            height:             34px;
            background-image:   url('/img/userDashboard/userNameBG.png');
            text-align:         center;
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-size:          17px;
            color:              #074588;
            line-height:        34px;
        }
            .dashboard .userName a{
                color:              #074588;
                text-decoration:    none;
            }
    .dashboard .raised{
        width:              186px;
        height:             57px;
        background-image:   url('/img/userDashboard/raisedBG.png');
        padding-top:        16px;
        margin-top:         14px;
        margin-bottom:      9px;
    }
        .dashboard .raised .total{
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-size:          18px;
            color:              #fff;
            text-shadow:        1px 1px 2px #000;
            margin-left:        50px;
            margin-right:       20px;
            text-align:         center;
        }
            .dashboard .raised .total .small{
                font-size:          15px;
            }
        .dashboard .raised .today{
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-size:          14px;
            color:              #353535;
            margin-left:        63px;
            margin-top:         7px;
        }
            .dashboard .raised .today span{
                font-weight:        bold;
                color:              #064282;
            }
    .dashboard hr{
        border-top:         1px solid #ddd;
        border-bottom:      1px solid #fff;
        width:              200px;
        height:             0px;
        margin-left:        -7px;
        margin-top:         0px;
        margin-bottom:      0px;
    }
    .dashboard .dbLinkCont{
        width:              200px;
        margin-left:        -7px;
    }
    .dashboard .dbLinkCont:hover{
        background-image:   url('/img/userDashboard/lnkBG.png');
    }
    .dashboard .dbLink{
        height:             29px;
        display:            block;
        padding-left:       65px;
        background-position:35px center;
        background-repeat:  no-repeat;
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          14px;
        color:              #064282;
        line-height:        29px;
        text-decoration:    none;
    }
        #dbLinkProfile{
            background-image:   url('/img/userDashboard/lnkProfile.png');
            background-position:37px center;
        }
        #dbLinkReports{
            background-image:   url('/img/userDashboard/lnkActivity.png');
        }
        #dbLinkHistory{
            background-image:   url('/img/userDashboard/lnkHistory.png');
        }
        #dbLinkInbox{
            background-image:   url('/img/userDashboard/lnkInbox.png');
            background-position:36px center;
        }
            #dbLinkInbox span{
                color:              #4f4f4f;
            }
.dashLink{
    border:             1px solid #acacac;
    border-radius:      3px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    background-color:   #ccc;
    position:           relative;
    z-index:            90;
    width:              200;
    height:             24;
    padding-top:        4px;
    margin-top:         -4px;
    text-align:         center;
}
    .dashLink a{
        color:              #6b6b6b;
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          12px;
        line-height:        24px;
        text-decoration:    none;
        text-shadow:        1px 1px 2px #eee;
        background-image:   url('/img/userDashboard/lnkBack.png');
        background-position:left center;
        background-repeat:  no-repeat;
        padding-left:       15px;
    }





/* Edit profile */
.editProfile h1{
    font-family:        "Myriad Pro", Helvetica, sans-serif;
    font-size:          25px;
    margin-top:         0px;
    color:              #043c78;
}
    .editProfile h1 small{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          25px;
        font-weight:        normal;
    }
.editProfile .leftSide{
    float:              left;
    width:              320px;
    padding:            5px 30px 5px 10px;
}
.editProfile .rightSide{
    float:              right;
    width:              320px;
    padding:            5px 10px 5px 30px;
    background-image:   url('/img/editProfile/separator.png');
    background-repeat:  repeat-y;
    background-position:top left;
}
    .editProfile label{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          15px;
        font-weight:        normal;
        color:              #043d78;
        display:            block;
        clear:              both;
    }
        .editProfile label input,
        .editProfile label select{
            width:              298px;
            height:             31px;
            border:             1px solid #ddd;
            background-color:   #fff;
            border-radius:      3px;
            -moz-border-radius: 3px;
            -webkit-border-radius:3px;
            margin-bottom:      10px;
            margin-top:         5px;
            padding:            0px 10px;
            box-shadow:         inset 2px 2px 7px 0px #eee;
            -webkit-box-shadow: inset 2px 2px 7px 0px #eee;
            -moz-box-shadow:    inset 2px 2px 7px 0px #eee;
        }
        .editProfile label input[type="radio"],
        .editProfile label input[type="checkbox"]{
            background-color:   transparent;
            border:             none;
        }
        .editProfile label input[type="file"]{
            width:              187px;
            position:           relative;
            z-index:            200;
            opacity:            0;
            filter:             alpha(opacity=0);
        }
    .editProfile label.inline{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          13px;
        font-weight:        normal;
        color:              #6c6c6c;
        display:            block;
        line-height:        42px;
    }
        .editProfile label.inline input{
            width:              150px;
            margin-left:        17px;
            float:              right;
        }
    .editProfile label.halfLeft{
        width:              155px;
        float:              left;
        clear:              none;
    }
    .editProfile label.halfRight{
        width:              145px;
        float:              right;
        clear:              none;
    }
        .editProfile label.halfLeft input{
            width:              123px;
        }

    .editProfile label select{
        width:              143px;
        position:           relative;
        z-index:            200;
        opacity:            0;
        filter:             alpha(opacity=0);
    }
    .editProfile .selectorHider{
        width:              123px;
        height:             31px;
        border:             1px solid #ddd;
        background-color:   #fff;
        border-radius:      3px;
        -moz-border-radius: 3px;
        -webkit-border-radius:3px;
        margin-bottom:      10px;
        margin-top:         5px;
        padding:            0px 10px;
        box-shadow:         inset 2px 2px 7px 0px #eee;
        -webkit-box-shadow: inset 2px 2px 7px 0px #eee;
        -moz-box-shadow:    inset 2px 2px 7px 0px #eee;
        background-image:   url('/img/editProfile/selectBTN.png');
        background-position:116px center;
        background-repeat:  no-repeat;
        position:           relative;
        margin-top:         -41px;
        z-index:            199;
        line-height:        31px;
    }
        .editProfile .selectorHider .selectorValue{
            margin-right:       20px;
            overflow:           hidden;
            white-space:        nowrap;
            line-height:        31px;
        }
    .editProfile .fileHider{
        width:              139px;
        height:             33px;
        background-image:   url('/img/editProfile/file.png');
        margin-top:         -43px;
        position:           relative;
        z-index:            199;
        line-height:        33px;
        padding:            0px 60px 0px 10px;
    }
    .editProfile .avatar{
        width:              95px;
        height:             53px;
        float:              right;
        margin-top:         -53px;
    }
    .editProfile button{
        padding:            0;
        margin:             0;
        border:             none;
        background-color:   transparent;
        margin:             auto;
        margin-top:         10px;
        background-image:   url('/img/signUpBTN.png');
        filter:             0 !important;
        width:              165px;
        height:             43px;
        display:            block;
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          16px;
        font-weight:        bold;
        color:              #fff;
        text-align:         left;
        padding-left:       50px;
        padding-top:        2px;
        text-shadow:        1px 1px 3px #905310;
        filter:             dropshadow(color=#905310, offx=1, offy=1);
    }













/* My Fundriser Page */
.bigDashboard{
    
}
    .bigDashboard hr{
        margin:             0px;
        padding:            0px;
        height:             0px;
        border-top:         1px solid #c7c7c7;
        border-bottom:      1px solid #fff;
    }
    .bigDashboard .bigBTN{
        text-align:         center;
        margin-top:         10px;
        margin-bottom:      5px;
    }
        .bigDashboard .bigBTN .button{
            text-decoration:    none;
            display:            inline-block;
            *display:           inline;
            *zoom:              1;
            background-image:   url('/img/fundraiser/bigBTN.png');
            filter:             0 !important;
            background-position:right center;
            background-repeat:  no-repeat;
            width:              214px;
            height:             54px;
            cursor:             pointer;
            margin-left:        3px;
            margin-right:       3px;
        }
            .bigDashboard .bigBTN .button .icon{
                width:              54px;
                height:             54px;
                float:              left;
                margin-top:         -2px;
            }
            .bigDashboard .bigBTN .button .text{
                float:              left;
                width:              147px;
                margin-top:         14px;
                margin-left:        7px;
                font-family:        "Myriad Pro", Helvetica, sans-serif;
                font-size:          15px;
                color:              #343434;
            }
                .bigDashboard .bigBTN .button .text strong{
                    font-weight:        bold;
                    color:              #074487;
                }
            .bigDashboard .bigBTN .button .help{
                width:              19px;
                height:             20px;
                position:           relative;
                background-image:   url('/img/fundraiser/bigBTNQuest.png');
                filter:             0 !important;
                margin-left:        199px;
                margin-top:         -1px;
            }
            .bigDashboard .bigBTN #createFundriserBTN .icon{
                background-image:   url('/img/fundraiser/createBTN.png');
            }
            .bigDashboard .bigBTN #supportFundriserBTN .icon{
                background-image:   url('/img/fundraiser/supportBTN.png');
            }
    .bigDashboard .tabsBTN{
        margin-top:         20px;
        padding-left:       14px;
        vertical-align:     baseline;
    }
        .bigDashboard .tabsBTN .button{
            background-position:top left;
            background-repeat:  no-repeat;
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-size:          11px;
            color:              #353535;
            display:            inline-block;
            *display:           inline;
            *zoom:              1;
            cursor:             pointer;
        }
        .bigDashboard .tabsBTN #createdFundriser{
            background-image:   url('/img/fundraiser/createdTab.png');
            width:              90px;
            height:             33px;
            padding-left:       49px;
            padding-right:      60px;
            padding-top:        4px;
        }
        .bigDashboard .tabsBTN #createdFundriser.active{
            background-image:   url('/img/fundraiser/createdTabA.png');
            color:              #fff;
        }
        .bigDashboard .tabsBTN #supportedFundriser{
            background-image:   url('/img/fundraiser/supportedTab.png');
            width:              87px;
            height:             33px;
            padding-left:       80px;
            padding-right:      20px;
            padding-top:        4px;
            margin-left:        -44px;
        }
        .bigDashboard .tabsBTN #supportedFundriser.active{
            background-image:   url('/img/fundraiser/supportedTabA.png');
            color:              #fff;
        }

            .bigDashboard .tabsBTN #createdFundriser .help{
                width:              0px;
                height:             13px;
                position:           relative;
                margin-left:        -56px;
                margin-top:         -13px;
            }
            .bigDashboard .tabsBTN #supportedFundriser .help{
                width:              0px;
                height:             13px;
                position:           relative;
                margin-left:        93px;
                margin-top:         -13px;
            }
    .bigDashboard .box{
        padding-top:        17px;
        padding-left:       0px;
        padding-right:      0px;
        width:              760px;
    }
    .bigDashboard .fundriserCard{
        background-image:   url('/img/fundraiser/fundraiserSeparator.png');
        background-position:left bottom;
        background-repeat:  repeat-x;
        padding-bottom:     32px;
        margin-bottom:      20px;
    }
    .bigDashboard .fundriserCard:last-child{
        background-image:   none;
        padding-bottom:     10px;
    }
        .bigDashboard .fundriserCard .image{
            float:              left;
            width:              170px;
            text-align:         center;
        }
            .bigDashboard .fundriserCard .image .logo{
                width:              145px;
                height:             145px;
                background-image:   url('/img/fundraiser/logoBG.png');
                padding-left:       11px;
                padding-top:        3px;
                margin-left:        2px;
                text-align:         left;
            }
            .bigDashboard .fundriserCard .image .labels{
                margin-left:        -3px;
            }
            .bigDashboard .fundriserCard .image .active{
                background-image:   url('/img/fundraiser/greenBTN.png');
                width:              59px;
                height:             23px;
                display:            inline-block;
                *display:           inline;
                *zoom:              1;
                font-family:        "Calibri", Helvetica, sans-serif;
                font-size:          11px;
                color:              #fff;
                line-height:        23px;
                text-shadow:        1px 1px 1px #70961b;
            }
            .bigDashboard .fundriserCard .image .unactive{
                background-image:   url('/img/fundraiser/grayBTN.png');
                width:              70px;
                height:             23px;
                display:            inline-block;
                *display:           inline;
                *zoom:              1;
                font-family:        "Calibri", Helvetica, sans-serif;
                font-size:          14px;
                color:              #fff;
                line-height:        23px;
                text-shadow:        1px 1px 1px #444;
            }
        .bigDashboard .fundriserCard .data{
            float:              left;
            width:              195px;
        }
            .bigDashboard .fundriserCard .data .title{
                height:             39px;
                line-height:        39px;
                background-image:   url('/img/fundraiser/titleSeparator.png');
                background-repeat:  no-repeat;
                font-family:        "Myriad Pro", Helvetica, sans-serif;
                font-size:          15px;
                color:              #12547f;
                width:              185px;
                white-space:        nowrap;
                overflow:           hidden;
                text-overflow:      ellipsis;
            }
            .bigDashboard .fundriserCard .data .edit{
                width:              61px;
                height:             26px;
                background-image:   url('/img/fundraiser/editBTN.png');
                cursor:             pointer;
                display:            block;
                margin-top:         -13px;
                margin-left:        107px;
            }
            .bigDashboard .fundriserCard .data .info{
                font-family:        Arial, Helvetica, sans-serif;
            }
                .bigDashboard .fundriserCard .data .info .label{
                    font-size:          11px;
                    color:              #404040;
                }
                .bigDashboard .fundriserCard .data .info .sel1{
                    font-size:          12px;
                    font-weight:        bold;
                    color:              #0c6aa8;
                }
                .bigDashboard .fundriserCard .data .info .sel2{
                    font-size:          11px;
                    font-weight:        bold;
                    color:              #4c4c4c;
                }
                .bigDashboard .fundriserCard .data .info .sel3{
                    font-size:          14px;
                    font-weight:        bold;
                    color:              #0c6aa8;
                }
                .bigDashboard .fundriserCard .data .info .sel4{
                    font-size:          14px;
                    font-weight:        bold;
                    color:              #404040;
                }
        .bigDashboard .fundriserCard .text{
            float:              left;
            width:              373px;
        }
            .bigDashboard .fundriserCard .text .share{
                float:              right;
                font-family:        "Myriad Pro", Helvetica, sans-serif;
                font-size:          11px;
                color:              #c6c6c6;
                line-height:        16px;
                width:              120px;
                margin-top:         10px;
            }
                .bigDashboard .fundriserCard .text .share a{
                    position:           relative;
                    margin-top:         -2px;
                    display:            block;
                    float:              right;
                    height:             16px;
                    margin-left:        2px;
                }
            .bigDashboard .fundriserCard .text .link{
                font-family:        "Cambria", Helvetica, sans-serif;
                font-size:          12px;
                font-weight:        bold;
                color:              #909090;
                line-height:        20px;
            }
                .bigDashboard .fundriserCard .text .link a{
                    font-family:        Arial, Helvetica, sans-serif;
                    font-size:          12px;
                    font-weight:        bold;
                    text-decoration:    none;
                    color:              #0b6ba8;
                }
            .bigDashboard .fundriserCard .text .info{
                margin-top:         12px;
                font-family:        "Myriad Pro", Helvetica, sans-serif;
                font-size:          13px;
                color:              #464646;
                line-height:        25px;
                height:             100px;
                overflow:           hidden;
            }
            .bigDashboard .fundriserCard .text .more{
                margin-top:         5px;
            }
                .bigDashboard .fundriserCard .text .more .btn{
                    float:              left;
                    width:              133px;
                    height:             31px;
                    background-image:   url('/img/fundraiser/moreAct.png');
                    background-position:top left;
                    cursor:             pointer;
                    color:              #064282;
                    font-family:        Arial, Helvetica, sans-serif;
                    font-size:          13px;
                    padding-left:       50px;
                    line-height:        31px;
                }
                .bigDashboard .fundriserCard .text .more .btn:hover{
                    background-position:0px -31px;
                }
                .bigDashboard .fundriserCard .text .more .link{
                    font-family:        "Myriad Pro", Helvetica, sans-serif;
                    font-size:          12px;
                    font-weight:        normal;
                    float:              right;
                }
                .bigDashboard .fundriserCard .text .more .link a{
                    color:              #064282;
                    text-decoration:    none;
                    background-image:   url('/img/fundraiser/more.png');
                    background-position:right center;
                    background-repeat:  no-repeat;
                    padding-right:      10px;
                    line-height:        31px;
                }







/* Pagination */
.pagination{
    margin-left:        5px;
    margin-right:       5px;
    font-family:        "Myriad Pro", Helvetica, sans-serif;
    font-size:          12px;
    color:              #414141;
}
    .pagination .pointer{
        background-color:   #b4b4b4;
        border:             1px solid #7f7f7f;
        border-top-left-radius:6px;
        border-bottom-left-radius:6px;
        float:              left;
        height:             30px;
        line-height:        30px;
        width:              68px;
        text-align:         center;
    }
    .pagination .prev{
        width:              34px;
        height:             34px;
        margin-left:        4px;
        background-image:   url('/img/fundraiser/paginationsArrows.png');
        background-position:0px 0px;
        display:            block;
        float:              left;
    }
    .pagination .prev:hover{
        background-position:0px -34px;
    }
    .pagination .next{
        width:              34px;
        height:             34px;
        margin-left:        4px;
        margin-right:       4px;
        background-image:   url('/img/fundraiser/paginationsArrows.png');
        background-position:-34px 0px;
        display:            block;
        float:              left;
    }
    .pagination .next:hover{
        background-position:-34px -34px;
    }

    .pagination .all{
        background-color:   #b4b4b4;
        border:             1px solid #7f7f7f;
        border-top-right-radius:6px;
        border-bottom-right-radius:6px;
        height:             30px;
        line-height:        30px;
        padding:            0px 15px;
        margin-left:        150px;
    }
        .pagination .all a{
            color:              #414141;
            text-decoration:    none;
            padding:            0px 4px;
        }
        .pagination .all a.selected{
            background-color:   #e5e5e5;
        }








/* Error place */
.errorPlace{
    border:             1px solid #db5252;
    border-radius:      5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    height:             29px;
    background-image:   url('/img/error/bg.png');
}
    .errorPlace .close{
        float:              left;
        width:              13px;
        height:             14px;
        background-image:   url('/img/error/close.png');
        margin-top:         8px;
        margin-left:        25px;
    }
    .errorPlace .text{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          14px;
        font-weight:        bold;
        line-height:        29px;
        color:              #a93b3b;
        text-shadow:        1px 1px #f5adad;
        text-align:         right;
        padding-right:      13px;
    }
.errorPlace.accept{
    border:             1px solid black;
    border-radius:      5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    height:             29px;
    background-color:   green;
    background-image:   url('/img/error/bgAc.png');
}
.errorPlace.accept div.text {
color:              white;
}







/* Create Fundraiser */
.createFundraiser{
    
}
    .createFundraiser .steps{
        padding-left:       17px;
        text-align:         center;
        width:              756px;
    }
        .createFundraiser .steps .button{
            display:            inline-block;
            *display:           inline;
            *zoom:              1;
            background-image:   url('/img/createFundraiser/stepsL.png');
            filter:             0 !important;
            background-position:0px 0px;
            width:              173px;
            height:             60px;
            margin-left:        -17px;
            vertical-align:     middle;
        }
        .createFundraiser .steps .button:last-child{
            background-image:   url('/img/createFundraiser/stepsS.png');
            background-position:0px 0px;
            width:              131px;
            height:             60px;            
        }
        .createFundraiser .steps .button.active{
            background-position:0px -60px;
        }
            .createFundraiser .steps .button .number{
                float:              left;
                width:              41px;
                height:             42px;
                line-height:        42px;
                margin-top:         9px;
                font-family:        "Myriad Pro", Helvetica, sans-serif;
                font-size:          15px;
                font-weight:        bold;
                color:              #494949;
            }
            .createFundraiser .steps .button .title{
                font-family:        "Myriad Pro", Helvetica, sans-serif;
                font-size:          12px;
                color:              #fff;
                padding-left:       50px;
                padding-right:      20px;
                margin-top:         9px;
                line-height:        42px;
            }
            .createFundraiser .steps .button:nth-child(3) .title{
                line-height:        21px;
            }

.createFundraiser h1{
    font-family:        "Myriad Pro", Helvetica, sans-serif;
    font-size:          25px;
    font-weight:        bold;
    color:              #043c78;
}
    .createFundraiser h1 small{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          25px;
        font-weight:        normal;
        color:              #043c78;
    }
    .createFundraiser h1 .orange{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          17px;
        font-weight:        normal;
        color:              #ec9220;
    }

.createFundraiser p{
    font-family:        "Myriad Pro", Helvetica, sans-serif;
    font-size:          13px;
    color:              #4d4d4d;
    text-align:         center;
}

.createFundraiser hr{
    width:              620px;
    height:             0px;
    border-top:         1px solid #e1e1e1;
    border-bottom:      1px solid #fff;
    margin:             20px auto;
}

.createFundraiser .btnCont{
    text-align:         center;
}
    .createFundraiser button{
        padding:            0;
        margin:             0;
        border:             none;
        background-color:   transparent;
        margin:             auto;
        margin-top:         10px;
        background-image:   url('/img/createFundraiser/btns.png');
        filter:             0 !important;
        width:              143px;
        height:             43px;
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          15px;
        font-weight:        bold;
        color:              #fff;
        text-align:         left;
        padding-left:       50px;
        padding-top:        2px;
        text-shadow:        1px 1px 3px #905310;
        filter:             dropshadow(color=#905310, offx=1, offy=1);
        margin:             0px 10px;
    }

    .createFundraiser button.next{
        width:              143px;
        padding-left:       50px;
    }

    .createFundraiser button.back{
        background-position:0px -43px;
        width:              146px;
        padding-left:       58px;
    }

    .createFundraiser button.create{
        background-position:0px -86px;
        width:              195px;
        padding-left:       28px;
    }

.createFundraiser .description{
    font-family:        "Myriad Pro", Helvetica, sans-serif;
    font-size:          11px;
    font-weight:        normal;
    color:              #5e5e5e;
    text-align:         center;
    margin-top:         15px;
}
    .createFundraiser .description span{
        color:              #e98519;
    }

.createFundraiser label{
    font-family:        "Myriad Pro", Helvetica, sans-serif;
    font-size:          15px;
    font-weight:        normal;
    color:              #043d78;
    display:            block;
    clear:              both;
    margin:             auto;
    width:              380px;
}
.createFundraiser label.radio{
    font-family:        "Myriad Pro", Helvetica, sans-serif;
    font-size:          17px;
    font-weight:        bold;
    color:              #043c78;
}
    .createFundraiser label input,
    .createFundraiser label select,
    .createFundraiser textarea{
        width:              358px;
        height:             31px;
        border:             1px solid #ddd;
        background-color:   #fff;
        border-radius:      3px;
        -moz-border-radius: 3px;
        -webkit-border-radius:3px;
        margin-bottom:      10px;
        margin-top:         5px;
        padding:            0px 10px;
        box-shadow:         inset 2px 2px 7px 0px #eee;
        -webkit-box-shadow: inset 2px 2px 7px 0px #eee;
        -moz-box-shadow:    inset 2px 2px 7px 0px #eee;
    }
    .createFundraiser textarea{
        height:             220px;
    }
    .createFundraiser label input[type="radio"]{
        width:              auto;
        height:             auto;
        background-color:   transparent;
        border:             none;
    }
    .createFundraiser label .star{
        color:              #e98519;
    }

.createFundraiser .marginLeft{
    width:              380px;
    margin:             auto;
}
.createFundraiser .span1of3{
    width:              120px;
    float:              left;
    margin-right:       10px;
    clear:              none;
}
    .createFundraiser .span1of3:last-child{
        margin-right:       0px;
    }
    .createFundraiser .span1of3 input{
        width:              98px;
    }
    .createFundraiser .span1of3 select{
        width:              120px;
    }

    .createFundraiser .url{
        width:              243px;
        text-align:         center;
        color:              #6c6c6c;
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          12px;
        margin:             auto;
        margin-bottom:      20px;
    }
        .createFundraiser .url a{
            background-image:   url('/img/createFundraiser/link.png');
            display:            block;
            height:             30px;
            width:              243px;
            color:              #0b579e;
            text-decoration:    none;
            line-height:        28px;
        }

    .createFundraiser .file{
        margin-top:         40px;
    }
    .createFundraiser input[type="file"]{
        width:              139px;
        opacity:            0;
    }
    .createFundraiser .fileHider{
        width:              139px;
        height:             33px;
        background-image:   url('/img/editProfile/file.png');
        margin-top:         -43px;
        position:           relative;
        z-index:            199;
        line-height:        33px;
        padding:            0px 60px 0px 10px;
    }
    .createFundraiser .file .desc{
        color:              #6c6c6c;
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          11px;
    }
    .createFundraiser .file .img{
        width:              126px;
        height:             126px;
        float:              right;
        margin-top:         -20px;
    }

    .createFundraiser label select{
        position:           relative;
        z-index:            200;
        opacity:            0;
        filter:             alpha(opacity=0);
    }
    .createFundraiser .selectorHider{
        height:             31px;
        border:             1px solid #ddd;
        background-color:   #fff;
        border-radius:      3px;
        -moz-border-radius: 3px;
        -webkit-border-radius:3px;
        margin-bottom:      10px;
        margin-top:         5px;
        padding:            0px 10px;
        box-shadow:         inset 2px 2px 7px 0px #eee;
        -webkit-box-shadow: inset 2px 2px 7px 0px #eee;
        -moz-box-shadow:    inset 2px 2px 7px 0px #eee;
        background-image:   url('/img/editProfile/selectBTN.png');
        background-position:116px center;
        background-repeat:  no-repeat;
        position:           relative;
        margin-top:         -41px;
        z-index:            199;
        line-height:        31px;
    }
        .createFundraiser .selectorHider .selectorValue{
            margin-right:       20px;
            overflow:           hidden;
            white-space:        nowrap;
            line-height:        31px;
        }
        #pmHiderP{
        background-position: 352px center;
    }
    #stHiderP{
        background-position: 92px center;
    }

    .createFundraiser .left{
        float:              left;
        width:              44%;
        padding:            10px 3%;
    }
    .createFundraiser .right{
        float:              right;
        width:              44%;
        padding:            10px 3%;
        background-image:   url('/img/editProfile/separator.png');
        background-repeat:  repeat-y;
        background-position:top left;
        margin-bottom:      40px;
    }
    .createFundraiser .type{
        clear:              both;
        text-align:         center;
    }
    .createFundraiser .step5{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          14px;
        color:              #5d5d5d;
        line-height:        30px;
    }
    .createFundraiser .step5 .label{
        font-family:        "Myriad Pro", Helvetica, sans-serif;
        font-size:          14px;
        color:              #043d78;
    }
    .createFundraiser .step5 .image{
        text-align:         center;
        margin-top:         -10px;
        margin-bottom:      10px;
    }
    .createFundraiser .step5 .description{
        line-height:        15px;
    }


    /* Editing fundraiser */
    .createFundraiser .info{
        background-image:   url('/img/editFundraiser/bg.png');
        background-position:top left;
        background-repeat:  no-repeat;
    }
        .createFundraiser .info .logo{
            float:              left;
            /*background-image:   url('/img/editFundraiser/logo.png');*/
            width:              88px;
            height:             67px;
            border-radius:      3px;
            margin-left:        9px;
            margin-top:         8px;
        }
        .createFundraiser .info .title{
            float:              left;
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-size:          19px;
            font-weight:        bold;
            color:              #0c569c;
            text-shadow:        1px 1px #eee;
            padding-right:      15px;
            background-image:   url('/img/editFundraiser/arrow.png');
            background-position:right center;
            background-repeat:  no-repeat;
            margin-left:        10px;
            margin-top:         12px;
            width:              440px;
            white-space:        nowrap;
            overflow:           hidden;
            text-overflow:      ellipsis;
        }
        .createFundraiser .info .url{
            float:              right;
            background-image:   url('/img/editFundraiser/url.png');
            background-repeat:  no-repeat;
            height:             36px;
            text-align:         left;
            padding-left:       47px;
            padding-right:      40px;
            width:              auto;
            margin-top:         7px;
        }
            .createFundraiser .info .url a{
                background-image:   none;
                line-height:        45px;
                width:              auto;
                display:            inline;
            }
        .createFundraiser .info .ce{
            font-family:        "Myriad Pro", Helvetica, sans-serif;
            font-size:          12px;
            color:              #676767;
            margin-left:        107px;
            margin-top:         -22px;
            margin-bottom:      20px;
        }


input:focus,
textarea:focus,
select:focus,
.focus{
    outline-offset:     -2px;
    outline-style:      auto;
    outline-width:      5px;
    outline-color:      #f60;
}