<?php
$title = 'About';
$this->headTitle($title);
?>
<tr>
  <td style="width:240px;">
  </td>
  <td style="vertical-align: top;">
    <a href="<?php echo $this->url(
array('controller'=>'fundraiser','action'=>''),
array('name' => 'default'));?>">back to home</a><br>
    <h1><?php echo $this->escape($title); ?></h1>
  </td>
</tr>
</table>
</div>
