<?php
$title = 'Delete fundraiser';
$this->headTitle($title);
?>
<h1><?php echo $this->escape($title); ?></h1>

<p>Are you sure that you want to delete 
  '<?php echo $this->escape($fundraiser['frname']); ?>' by 
  '<?php echo $this->escape($fundraiser['directory']); ?>'?
</p>
<?php 
$url = $this->url(
    array('controller' => 'fundraiser', 'action' => 'delete'),
    array('name' => 'default')); ?>
<form action="<?php echo $url; ?>" method="post">
<div>
  <input type="hidden" name="id" value="<?php echo (int)$fundraiser['id']; ?>" />
  <input type="submit" name="del" value="Yes" />
  <input type="submit" name="del" value="No" />
</div>
</form>