<?php
$title = 'Edit fundraiser';
$this->headTitle($title);
/*
 * $form->setAction($this->url(
        array('controller' => 'fundraiser', 'action' => 'edit'),
        array('name' => 'default'))
    )->setView($this);
echo $form;
 */
?>
  <tr>
    <td style="width:240px;">
    </td>
    <td style="vertical-align: top;">
      <form method="POST">
        <a href="<?php echo $this->url(
array('controller'=>'user','action'=>'info'),
array('name' => 'default'));?>">back to user page</a><br>
        <h1><?php echo $this->escape($title); ?></h1>

        <input type="hidden" name="id" value="<?=$fundraiser['id'] ?>">
        <input type="text" name="frname" value="<?=$fundraiser['frname'] ?>"> Fundraiser name<br>
        <input type="text" name="directory" value="<?=$fundraiser['directory'] ?>"> Fundraiser directory (http://raise.org/directory)<br>
        <input type="text" name="required" value="<?=$fundraiser['required'] ?>"> Fundraiser goal<br>
        <input type="text" name="about" value="<?=$fundraiser['about'] ?>"> About<br>
        Fundraiser page<br>
        <textarea name="summary" rows="15" cols="80"><?=$fundraiser['summary'] ?></textarea><br>

        <a href="<?php echo $this->url(
              array('controller'=>'campaign','action'=>'add'),
              array('name' => 'default')) . '?fundraiser=' . $fundraiser['id'] ;?>">add new campaign</a>
        <table>
        <tr>
          <th>campaign</th>
          <th>campaign</th>
          <th>active</th>
          <th>&nbsp;</th>
        </tr>
        <?php foreach($campaigns as $campaign) : ?>
        <tr>
          <td><?php echo $this->escape($campaign['name']);?></td>
          <td><?php echo $this->escape($campaign['required']);?></td>
          <td><input type="radio" name="campaignSetActive" value="<?=$campaign['id']?>"></td>
          <td>
            <a href="<?php echo $this->url(
              array('controller'=>'campaign','action'=>'edit'),
              array('name' => 'default')) . '?id=' . $campaign['id'] ;?>">Edit</a>
            <a href="<?php echo $this->url(
              array('controller'=>'campaign','action'=>'delete'),
              array('name' => 'default')) . '?id=' . $campaign['id'] ;?>">Delete</a>
          </td>
        </tr>
        <?php endforeach; ?>
        </table>


<!--
        <input type="checkbox" name="addcampaign" value="1"> Add campaign<br>
        <input type="text" name="cpname" value="<?=$campaign['name'] ?>"> Campaign name<br>
        <input type="text" name="cprequired" value="<?=$campaign['required'] ?>"> Campaign goal<br>
        Campaign summary<br>
        <textarea name="cpsummary" rows="15" cols="80"><?=$campaign['summary'] ?></textarea>
-->
          
        <input type="submit" name="submit" value="OK">
      </form>
      
      <form action="<?php echo $this->url(
array('controller'=>'fundraiser','action'=>'delete'),
array('name' => 'default'));?>" method="POST">
        <input type="hidden" name="del" value="Yes">
        <input type="hidden" name="id" value="<?=$fundraiser['id'] ?>">
        <input type="submit" name="submit" value="remove this fundraiser">
      </form>
    </td>
  </tr>
</table>
</div>
<script type="text/javascript" src="/js/jquery-1.6.1.js" ></script >
<script type="text/javascript" src="/js/tiny_mce/tiny_mce.js" ></script >
<script type="text/javascript">
tinyMCE.init({
mode : "textareas",
theme_advanced_toolbar_location : "top",
theme_advanced_toolbar_align : "left",
theme_advanced_statusbar_location : "bottom",
theme_advanced_resizing : true,
theme : "advanced"
});
</script>