<?php



$title = 'My fundraisers';
$this->headTitle($title);
?>
  <tr>
    <td style="width:240px;">
<? if (!empty($fundraisers['id'])) : ?>
      <div class="leftblock">
        <div class=header>About this page</div>
        <div style="margin: 0 5px 10px 5px;">
        <img src="/img/avatar.jpg" align="left" style="padding-right:10px;">
        <p class="leftinnerheader">Created By</p>
        testuser
        <a href="#">view profile</a>
        </div>

        <p class="leftinnerheader">Total Raised</p>
        <p class="lefttotal">$0.00</p>

        <p class="leftinnerheader">Description</p>
        
        <p>
        <?=empty($fundraisers['summary'])?'':$fundraisers['summary']; ?>
         <a href="#">expand</a>
        </p>
      </div>
  <? endif ?>
      <div class="leftblock">
        <div class=header>Browse by Merchant</div>
        <p>
        </p>
      </div>
      <div class="leftblock">
        <div class=header>Search</div>
        <p>
          <form class="search">
            <p><label><input name="searchoption" type="radio">Search Merchants</p></label>
            <p><label><input name="searchoption" type="radio">Search Coupons and deals</p></label>
            <p><input type="text"></p>
          </form>
        </p>
      </div>
      <div class="leftblock">
        <div class=header>Guestbook</div>
        <p>
        </p>
      </div>
    </td>
    <td style="vertical-align: top;">
      <div class="right">
        <div class="rightinnerheader">
          About <?=empty($fundraisers['frname'])?'':$fundraisers['frname']; ?>
        </div>
        <table class="leftinner"><tr>
        <td rowspan="2" style="width:50%">
        <img src="/img/logo.jpg" align="left" style="margin-right:5px">
        <p class="header">
          Mission Statement
        </p>
        <p>
          <?=empty($fundraisers['summary'])?'summary....summary....summary....':$fundraisers['summary']; ?>
        </p>
        </td>
        <td>
          <p class="header">
            Total Supporters
          </p>
          <p>
            0
          </p>
        </td>
        <td>
          <p class="header">
            Payee Name
          </p>
          <p>
            <?=empty($fundraisers['frname'])?'Fundraiser Number One':$fundraisers['frname']; ?>
          </p>
        </td>
        </tr><tr>
        <td colspan="2">
          <p class="header">
            Campaign
          </p>
          <p>
            Goal: $<?=empty($fundraisers['required'])?'50000':$fundraisers['required']; ?>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Current: $0.00
          </p>
          <p>
            0% complete
          </p>
        </td>
        </tr></table>
      </div>
    </td>
  </tr>
</table>
</div>

<!--
<h1><?php echo $this->escape($title); ?></h1>
<p><a href="<?php echo $this->url(array('controller'=>'fundraiser', 
        'action'=>'add'), array('name' => 'default'));?>">Add new fundraiser</a></p>

<table>
<tr>
    <th>frname</th>
    <th>directory</th>
    <th>&nbsp;</th>
</tr>
<?php foreach($fundraisers as $fundraiser) : ?>
<tr>
    <td><?php echo $this->escape($fundraiser->frname);?></td>
    <td><?php echo $this->escape($fundraiser->directory);?></td>
    <td>
        <a href="<?php echo $this->url(
            array('controller'=>'fundraiser','action'=>'edit'), 
            array('name' => 'default')) . '?id=' . $fundraiser->id ;?>">Edit</a>
        <a href="<?php echo $this->url(
            array('controller'=>'fundraiser','action'=>'delete'), 
            array('name' => 'default')) . '?id=' . $fundraiser->id ;?>">Delete</a>
    </td>
</tr>
<?php endforeach; ?>
</table>
-->