<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <?php echo $this->headTitle() ?>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

    <?php echo $this->headLink()->prependStylesheet('/css/reset.css') ?>
    <?php echo $this->headLink()->prependStylesheet('/css/style.css') ?>

    <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
       Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
       for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="/js/modernizr-2.0.6.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="logotip">
                <a href="/"><img src="img/logo.png" alt="Raise.org" /></a>
            </div>
            <nav>
                <div class="separate"></div>
                <a class="link" href="#">
                    <img src="img/link1.png" alt="FEATURE TOUR" /><br />
                    TAKE A LOOK
                </a>
                <div class="separate"></div>
                <a class="link" href="#">
                    <img src="img/link2.png" alt="ABOUT RAISE" /><br />
                    GET TO KNOW US
                </a>
                <div class="separate"></div>
                <a class="link" href="#">
                    <img src="img/link3.png" alt="BLOG" /><br />
                    NEWS
                </a>
                <div class="separate"></div>
            </nav>
            <div class="clear"></div>
        </div>
    </header>
    <div class="subheader">
        <div class="container">
            <div class="highlight">
            </div>
            <form action="auth" method="post" class="inline-form">
                <span>QUICK LOGIN</span>
                <input type="text" placeholder="e-mail..." name="email" />
                <input type="password" placeholder="password..." name="password" />
                <button>LOG IN</button>
            </form>
            <div class="clear"></div>
        </div>
    </div>
    <div role="main" class="content">
        <div class="container">
          <?php echo $this->raw('content'); ?>
        </div>
    </div>
    <div class="city">
    </div>
    <footer>
        <div class="container">
            <div class="copyright">
                <nav>
                    <a href="#">Terms & Conditions</a> - <a href="#">Privicy Statements</a> - <a href="#">Contact Us</a>
                </nav>
                &copy; 2011 <a href="/">RAISE</a>. All Rights Reserved.
            </div>
            <div class="logotip">
                <a href="/">
                    <img src="img/footerLogo.png" alt="Raise.org" />
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </footer>


    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script> -->


    <!-- scripts concatenated and minified via build script -->
    <!-- <script defer src="js/plugins.js"></script> -->
    <!-- <script defer src="js/script.js"></script> -->
    <!-- end scripts -->

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

</body>
</html>