<aside>
    <div class="dashboard">
        <div class="profile" style="background-image: url('/<?=(isset($_SESSION['auth']) && $_SESSION['auth']['avatar'])?$_SESSION['auth']['avatar']:'img/editProfile/noimage.png'?>')">
            <div class="userName">
              <? if (isset($_SESSION['auth'])) : ?>
		<a href="<?php echo $this->url(
array('controller'=>'admin','action'=>'editProfile'),
array('name' => 'default'));?>">
                <?=$_SESSION['auth']['firstName'].' '.$_SESSION['auth']['lastName']?>
		</a>
              <? endif ?>
            </div>
        </div>
        <hr />
        <div class="raised">
            <div class="total">
                <span class="small">$</span>0.<span class="small">00</span>
            </div>
            <div class="today">
                Raised Today <span>$0</span>
            </div>
        </div>
        <hr />
        <div class="dbLinkCont">
            <a href="<?php echo $this->url(
array('controller'=>'admin','action'=>'editProfile'),
array('name' => 'default'));?>" class="dbLink" id="dbLinkProfile">Edit Profile</a>
        </div>
        <hr />
        <div class="dbLinkCont">
            <a href="#" class="dbLink" id="dbLinkReports">Activity Reports</a>
        </div>
        <hr />
        <div class="dbLinkCont">
            <a href="#" class="dbLink" id="dbLinkHistory">Payment History</a>
        </div>
        <hr />
        <div class="dbLinkCont">
            <a href="#" class="dbLink" id="dbLinkInbox">Inbox <span>(0)</span></a>
        </div>
    </div>
<?php if ($_SERVER['REQUEST_URI']!='/admin/dashboard') : ?>
    <div class="dashLink">
        <a href="<?php echo $this->url(
array('controller'=>'admin','action'=>'dashboard'),
array('name' => 'default'));?>">back to dashboard</a>
    </div>
<?php endif ?>
</aside>
