<?php

$this->headTitle($title);

?>
<style type="text/css">
.step2, .step3, .step4, .step5 {
  display: none;
}
</style>
<script type="text/javascript">
var types = {<?
$tmpTypes = array();
foreach ($types as $k=>$v)
   $tmpTypes[] = "'$k':'$v'";
echo implode(',', $tmpTypes);
?>};
var currentStep = 1;
</script>
<?=$this->render('admin/aside.phtml') ?>
<form action="<?php echo $this->url(
array('controller'=>'admin','action'=>$edit?'editFundraiser':'createFundraiser'),
array('name' => 'default'));?>" method="post" id="createFundraiserForm" enctype="multipart/form-data">
<section class="createFundraiser">
<? if ($edit) : ?>
    <div class="info">
        <div class="logo" <?=$fr['avatar']?"style='background-image:url(\"/{$fr['avatar']}\");background-size:100%;background-repeat:no-repeat;'":''?>>
        </div>
        <div class="title">
            <?=$fr['type']=='personal'?$fr['firstName'].' '.$fr['lastName']:$fr['frname']?>
        </div>
        <div class="url">
            <a href="http://www.raise.org/<?=$fr['directory']?>">www.raise.org/<?=$fr['directory']?></a>
        </div>
        <div class="clear"></div>
        <div class="ce">
            CURRENTLY EDITING
        </div>
    </div>
<? endif ?>
    <div class="steps">
        <div id="b1" class="button active" <?=$edit?"style='cursor:pointer' onclick='setStep(1)'":''?>>
            <div class="number">1</div>
            <div class="title">Fundraiser Type</div>
        </div>
        <div id="b2" class="button" <?=$edit?"style='cursor:pointer' onclick='setStep(2)'":''?>>
            <div class="number">2</div>
            <div class="title">Fundraiser Details</div>
        </div>
        <div id="b3" class="button" <?=$edit?"style='cursor:pointer' onclick='setStep(3)'":''?>>
            <div class="number">3</div>
            <div class="title">Fundraiser Description</div>
        </div>
        <div id="b4" class="button" <?=$edit?"style='cursor:pointer' onclick='setStep(4)'":''?>>
            <div class="number">4</div>
            <div class="title">Create Campaign</div>
        </div>
        <div id="b5" class="button" <?=$edit?"style='cursor:pointer' onclick='setStep(5)'":''?>>
            <div class="number">5</div>
            <div class="title">Review</div>
        </div>
    </div>
    <div class="box">
        <div class="step1">
            <h1>Choose <small>Fundraiser Type</small></h1>
            <hr />
                <label class="radio"><input type="radio" name="type" value="nonprofit" checked="checked" /> 501 (c) Nonprofit Corporation<span class="star">*</span></label>
                <label class="radio"><input type="radio" name="type" value="education" /> Education Institution (school, college, etc.)<span class="star">*</span></label>
                <label class="radio"><input type="radio" name="type" value="personal" /> Personal</label>
            <hr />
            <div class="btnCont">
                <button class="next" onclick="return setStep(2)">Next</button>
            </div>
        </div>

        <div class="step2">
          <div class="errorPlace err2" style="display:none">
              <div class="text"></div>
          </div>
            <h1>Fundraiser <small>Details</small></h1>
            <hr />
            <label style="display:none" id="personalFirst">
                First Name<br />
                <input type="text" name="firstName" value="<?=isset($fr)?$fr['firstName']:$_SESSION['auth']['firstName']?>" />
            </label>
            <label style="display:none" id="personalLast">
                Last Name<br />
                <input type="text" name="lastName" value="<?=isset($fr)?$fr['lastName']:$_SESSION['auth']['lastName']?>" />
            </label>
            <label id="legalName">
                <span>Legal Name of 501(c) Nonprofit Corporation</span><br />
                <input type="text" name="frname" value="<?=isset($fr)?$fr['frname']:''?>" />
            </label>
            <label>
                Payee <small>(entity name receiving funds)</small><br />
                <input type="text" name="payee" value="<?=isset($fr)?$fr['payee']:''?>" />
            </label>
            <label>
                <span id="ssn">Employer Identification Number</span><br />
                <input type="text" name="ssn" placeholder="XX-XXXXXXX" value="<?=isset($fr)?$fr['ssn']:''?>" />
            </label>
            <label>
                Payment Method<br />
                <select name="paymentMethod" id="paymentMethod">
                    <option value="Check">Check</option>
                </select>
                <div class="selectorHider" id="pmHiderP">
                  <div class="selectorValue" id="pmHider">Check</div>
                </div>
            </label>
            <label>
                Street Address<br />
                <input type="text" name="address1" value="<?=isset($fr)?$fr['address1']:''?>" />
            </label>
            <label>
                <input type="text" name="address2" value="<?=isset($fr)?$fr['address2']:''?>" />
            </label>
            <div class="marginLeft">
                <label class="span1of3">
                    City<br />
                    <input type="text" name="city" value="<?=isset($fr)?$fr['city']:''?>" />
                </label>
                <label class="span1of3">
                    State<br />
                    <select name="state" id="selectState">
                      <option value="">Select a State</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="DC">District Of Columbia</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                    <div class="selectorHider" id="stHiderP">
                    <div class="selectorValue" id="stHider">Select a State</div></div>
                </label>
                <label class="span1of3">
                    Zip Code<br />
                    <input type="text" name="zip" placeholder="XXXXX" value="<?=isset($fr)?$fr['zip']:''?>" />
                </label>
            </div>
            <label>
                Phone Number<br />
                <input type="text" name="phone" value="<?=isset($fr)?$fr['phone']:''?>" />
            </label>
            <hr />
            <div class="btnCont">
                <button class="back" onclick="return setStep(1, false)">Back</button>
                <button class="next" onclick="return setStep(3)">Next</button>
            </div>
        </div>

        <div class="step3">
          <div class="errorPlace err3" style="display:none">
              <div class="text"></div>
          </div>
            <h1>Fundraiser <small>Description</small></h1>
            <hr />
            <label>
                Raise Page Short Name<br />
                <input type="text" name="directory" id="directory" value="<?=isset($fr)?$fr['directory']:''?>" />
            </label>
            <div class="url">
                Your Raise Page will be located at
                <a id="url" href="http://www.raise.org/">www.raise.org/</a>
            </div>
            <label class="file">
              <iframe name="uploader" id="uploader" style="display:none"></iframe>
                <div class="img">
                    <div style="height:11px;margin-top:14px;text-align:center;position:relative; z-index:100"><img style="display:none" id="avatarActivity" src="/img/ajax-loader.gif"></div>
                    <img id="imgAvatar" style="margin-top:-30px;" src="/<?=isset($fr)&&$fr['avatar']?$fr['avatar']:'img/createFundraiser/img.png'?>" />
                </div>
                Fundraiser Image<br />
                <input type="file" name="avatar" id="fundraiserImage" />
                <div class="fileHider">
                    <div class="fileName"></div>
                </div>
                <small class="desc">* Recomended size: 125x125</small>
            </label>
            <label>
                Description<br />
                <textarea name="about"><?=isset($fr)?$fr['about']:''?></textarea>
                <input type="hidden" name="avatarTemp">
            </label>
            <hr />
            <div class="btnCont">
                <button class="back" onclick="return setStep(2, false)">Back</button>
                <button class="next" onclick="return setStep(4)">Next</button>
            </div>
        </div>

        <div class="step4">
          <div class="errorPlace err4" style="display:none">
              <div class="text"></div>
          </div>
            <h1>Create <small>a Campaign</small> <small class="orange">(Optional Step)</small></h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <hr />
            <label>
                Current Campaign Name<br />
                <input type="text" name="cName" value="<?=isset($cp)?$cp['name']:''?>" />
            </label>
            <label>
                Campaign Goal<br />
                <input type="text" name="cGoal" value="<?=isset($cp)?$cp['required']:''?>" />
            </label>
            <label>
                Description<br />
                <textarea name="cDescription"><?=isset($cp)?$cp['summary']:''?></textarea>
            </label>
            <hr />
            <div class="btnCont">
                <button class="back" onclick="return setStep(3, false)">Back</button>
                <button class="next" onclick="return setStep(5)">Next</button>
            </div>
        </div>

        <div class="step5">
            <h1>Review <small>your Fundraiser</small> <small class="orange">(You can change this at any time)</small></h1>
            <hr />
            <div class="type">
                <span class="label">Type:</span>
                <span id="reType"></span>
            </div>
            <div class="left">
              <span id="reFirst" style="display:none">
                <span class="label">First Name:</span>
                <span id="reFirstName"><?=$edit?$fr['firstName']:''?></span><br />
              </span>
              <span id="reLast" style="display:none">
                <span class="label">Last Name:</span>
                <span id="reLastName"><?=$edit?$fr['lastName']:''?></span><br />
              </span>
              <span id="reLegal">
                <span class="label">Legal Name of 501(c) Nonprofit Corporation:</span>
                <span id="reFrname"><?=$edit?$fr['frname']:''?></span><br />
              </span>
                <span class="label">Payee:</span>
                <span id="rePayee"><?=$edit?$fr['payee']:''?></span><br />
                <span class="label">SSN/Employer Identification Number:</span>
                <span id="reSsn"><?=$edit?$fr['ssn']:''?></span><br />
                <span class="label">Payment method:</span>
                <span id="rePaymentMethod"><?=$edit?$fr['paymentMethod']:''?></span><br />
                <span class="label">Street Address:</span>
                <span id="reAddress"><?=$edit?$fr['address1']:''?> <?=$edit?$fr['address2']:''?></span><br />
                <span class="label">City:</span>
                <span id="reCity"><?=$edit?$fr['city']:''?></span><br />
                <span class="label">State:</span>
                <span id="reState"><?=$edit?$fr['state']:''?></span><br />
                <span class="label">Zip Code:</span>
                <span id="reZip"><?=$edit?$fr['zip']:''?></span><br />
                <span class="label">Phone Number:</span>
                <span id="rePhone"><?=$edit?$fr['phone']:''?></span><br />
            </div>
            <div class="right">
                <span class="label">Raise Page Short Name:</span>
                <span id="reDirectory"><?=$edit?$fr['directory']:''?></span><br />
                <div class="url">
                    Your Raise Page will be located at<br />
                    <a id="reUrl" href="http://www.raise.org/<?=$edit?$fr['directory']:''?>">www.raise.org/<?=$edit?$fr['directory']:''?></a>
                </div>
                <div class="image">
                    <span class="label">Fundraiser Image:</span><br />
                    <img id="reAvatar" src="/<?=isset($fr)&&$fr['avatar']?$fr['avatar']:'img/createFundraiser/img.png'?>" />
                </div>
                <span class="label">Fundraiser Description:</span><br />
                <span class="description" id="reAbout">
                  <?=$edit?$fr['about']:''?>
                </span><br />
            </div>
            <hr />
            <div class="btnCont">
                <button class="back" onclick="return setStep(4)">Back</button>
                <button class="create" type="submit"><?=$edit?'Save':'Create'?> Fundraiser</button>
            </div>
        </div>

    </div>
    <div class="description">
        <span>*</span>A fundraiser supporting a 501(c) nonprofit corporation or educational institution will require verification before being publicly listed on Raise.org.<br />
        Fundraisers that do not support a 501(c) nonprofit corporation of educational institution will be designated as private and non-verified.<br />
        For more information about these designations, please visit our Frequently Asked Questions.
    </div>
</section>
<? if ($edit) : ?>
<input type="hidden" name="id" value="<?=$fr['id']?>">
<? endif ?>
</form>
<div class="clear"></div>
<script type="text/javascript">
$(document).ready(function(){
  <? if ($edit) : ?>
  $('input[name="type"]').filter('[value="<?=$fr['type']?>"]').attr('checked', 'checked');
  <? switch ($fr['type']) {
     case 'personal':
  ?>
  $('#personalFirst').show();
  $('#personalLast').show();
  $("#legalName").hide();
  $('#reFirst').show();
  $('#reLast').show();
  $('#reLegal').hide();
  $('span#ssn').html('Social Security Number');
  $('input[name=ssn]').attr('placeholder', 'XXX-XX-XXXX');
  $("input[name=ssn]").mask("999-99-9999");
  <? break;
     case 'nonprofit': ?>
  $('#personalFirst').hide();
  $('#personalLast').hide();
  $("#legalName").show();
  $('#reFirst').hide();
  $('#reLast').hide();
  $('#reLegal').show();
  $('#reLegal span.label').html('Legal Name of 501(c) Nonprofit Corporation:');
  $('label#legalName span').html('Legal Name of 501(c) Nonprofit Corporation:');
  $('span#ssn').html('Employer Identification Number');
  $('input[name=ssn]').attr('placeholder', 'XX-XXXXXXX');
  $("input[name=ssn]").mask("99-9999999");
  <? break;
     case 'education': ?>
  $('#personalFirst').hide();
  $('#personalLast').hide();
  $("#legalName").show();
  $('#reFirst').hide();
  $('#reLast').hide();
  $('#reLegal').show();
  $('#reLegal span.label').html('Legal Name of Education Institution:');
  $('label#legalName span').html('Legal Name of Education Institution:');
  $('span#ssn').html('Employer Identification Number');
  $('input[name=ssn]').attr('placeholder', 'XX-XXXXXXX');
  $("input[name=ssn]").mask("99-9999999");
  <? } ?>
  $('#paymentMethod').val('<?=$fr['paymentMethod']?>');
  $('#pmHider').html($('#paymentMethod option:selected').html());
  $('#selectState').val('<?=$fr['state']?>');
  $('#stHider').html($('#selectState option:selected').html());
  $('#reType').html(types['<?=$fr['type']?>']);
  $('#url').html('www.raise.org/<?=$fr['directory']?>').attr('href', 'http://www.raise.org/<?=$fr['directory']?>');
  $('#reUrl').html('www.raise.org/<?=$fr['directory']?>').attr('href', 'http://www.raise.org/<?=$fr['directory']?>');
  <? else : ?>
  $("input[name=ssn]").mask("99-9999999");
  <? endif ?>

  $('#paymentMethod').focus(function(){
    $('#pmHiderP').addClass('focus');
  });
  $('#paymentMethod').blur(function(){
    $('#pmHiderP').removeClass('focus');
  });

  $('#selectState').focus(function(){
    $('#stHiderP').addClass('focus');
  });
  $('#selectState').blur(function(){
    $('#stHiderP').removeClass('focus');
  });

  $('#selectState').change(function(){
    $('#stHider').html($('#selectState option:selected').html());
    $('#reState').html($('#selectState option:selected').html());
  });
  $('#paymentMethod').change(function(){
    $('#pmHider').html($('#paymentMethod option:selected').html());
    $('#rePaymentMethod').html($('#paymentMethod option:selected').html());
  });

  $('input[name="type"]').change(function(){
    switch ($(this).val()) {
      case 'nonprofit':
        $('#personalFirst').hide();
        $('#personalLast').hide();
        $("#legalName").show();
        $('#reFirst').hide();
        $('#reLast').hide();
        $('#reLegal').show();
        $('#reLegal span.label').html('Legal Name of 501(c) Nonprofit Corporation:');
        $('label#legalName span').html('Legal Name of 501(c) Nonprofit Corporation:');
        $('span#ssn').html('Employer Identification Number');
        $('input[name=ssn]').attr('placeholder', 'XX-XXXXXXX');
        $("input[name=ssn]").mask("99-9999999");
        break;
      case 'education':
        $('#personalFirst').hide();
        $('#personalLast').hide();
        $("#legalName").show();
        $('#reFirst').hide();
        $('#reLast').hide();
        $('#reLegal').show();
        $('#reLegal span.label').html('Legal Name of Education Institution:');
        $('label#legalName span').html('Legal Name of Education Institution:');
        $('span#ssn').html('Employer Identification Number');
        $('input[name=ssn]').attr('placeholder', 'XX-XXXXXXX');
        $("input[name=ssn]").mask("99-9999999");
        break;
      case 'personal':
        $('#personalFirst').show();
        $('#personalLast').show();
        $("#legalName").hide();
        $('#reFirst').show();
        $('#reLast').show();
        $('#reLegal').hide();
        $('span#ssn').html('Social Security Number');
        $('input[name=ssn]').attr('placeholder', 'XXX-XX-XXXX');
        $("input[name=ssn]").mask("999-99-9999");
        break;
    }
    $('#reType').html(types[$(this).val()]);
  });
  $('input[name="firstName"]').change(function(){
    $('#reFirstName').html($('input[name="firstName"]').val());
  });
  $('input[name="lastName"]').change(function(){
    $('#reLastName').html($('input[name="lastName"]').val());
  });
  $('input[name="frname"]').change(function(){
    $('#reFrname').html($('input[name="frname"]').val());
  });
  $('input[name="payee"]').change(function(){
    $('#rePayee').html($('input[name="payee"]').val());
  });
  $('input[name="ssn"]').change(function(){
    $('#reSsn').html($('input[name="ssn"]').val());
  });
  $('input[name="address1"]').change(function(){
    $('#reAddress').html($('input[name="address1"]').val()+' '+$('input[name="address2"]').val());
  });
  $('input[name="address2"]').change(function(){
    $('#reAddress').html($('input[name="address1"]').val()+' '+$('input[name="address2"]').val());
  });
  $('input[name="city"]').change(function(){
    $('#reCity').html($('input[name="city"]').val());
  });
  $('input[name="zip"]').change(function(){
    $('#reZip').html($('input[name="zip"]').val());
  });
  $('input[name="phone"]').change(function(){
    $('#rePhone').html($('input[name="phone"]').val());
  });
  $('textarea[name="about"]').change(function(){
    $('#reAbout').html($('textarea[name="about"]').val());
  });

  $('#fundraiserImage').change(function(){
    $('.fileName').html($('#fundraiserImage').val().replace(/.*?([^\/\\]+)$/, "$1"));

    var oldAction = $('#createFundraiserForm').attr('action');
    $('#createFundraiserForm').attr('target', 'uploader');
    $('#createFundraiserForm').attr('action', '<?php echo $this->url(
array('controller'=>'admin','action'=>'fileUpload'),
array('name' => 'default'));?>');
    $('#uploader').load(function(){
      $('#avatarActivity').hide();
      var content = $(this.contentWindow.document.body).html();
      if (content == '666') {
        showError('The uploaded file is not an image');
        $('.fileName').html('');
      } else if (content != 'false') {
        $('input[name=avatarTemp]').val(content);
        $('#reAvatar').attr('src', '/'+content);
        $('#imgAvatar').attr('src', '/'+content);
      } else {
        $('input[name=avatarTemp]').val('');
      }
    });
    $('#avatarActivity').show();
    $('#createFundraiserForm').submit();

    $('#createFundraiserForm').attr('target', '').attr('action', oldAction);
  });
  $('#directory').keyup(function(){
    var val = $('#directory').val();
    $('#url').html('www.raise.org/'+val).attr('href', 'http://www.raise.org/'+val);
    $('#reUrl').html('www.raise.org/'+val).attr('href', 'http://www.raise.org/'+val);
    $('#reDirectory').html('www.raise.org/'+val);
  });

/*
  $("#createFundraiserForm").submit(function(){
    if ($.trim($('input[name="ssn"]').val()) == '') {
      setStep(2);
      $('#errorText').html('SSN/EIN is empty'); $('.errorPlace').show();
      return false;
    }
    return true;
  });
*/

  $(window).bind('hashchange', function(){
    var step = location.hash.replace(/#step(\d+)$/, '$1');
    if (step == '') step = 1;
    setStep(step, false);
  });

  $('#pmHider').html($('#paymentMethod option:selected').html());
//  $('#stHider').html($('#selectState option:selected').html());
  $('input[name="zip"]').mask("99999");
  $('input[name="phone"]').mask("999-999-9999");
});
function setStep(step, doCheck)
{
  currentStep = parseInt(currentStep);
  if (doCheck!=false) {
    switch (currentStep) {
      case 2: if (!checkStep2()) return false;
              break;
      case 3: if (!checkStep3()) return false;
              break;
      case 4: if (!checkStep4()) return false;
              break;
    }
  }
  currentStep = step;
  $('div.errorPlace').hide();
  $(".step1, .step2, .step3, .step4, .step5").hide();
  $(".step"+step).show();
  $(".button").removeClass('active');
  $(".button#b"+step).addClass('active');
  location.hash = '#step'+step;
  return false;
}
function showError(text)
{
  $('div.errorPlace.err'+currentStep+' div').html(text);
  $('div.errorPlace.err'+currentStep).show();
}
function checkStep2()
{
  if ($('input[name="type"]:checked').val() == 'personal') {
    var fn = trim($('input[name="firstName"]').val());
    $('input[name="frname"]').val(fn);
    var ln = trim($('input[name="lastName"]').val());
    $('input[name="frname"]').val(ln);
    if (fn == '') {
      showError("First Name is empty");
      return false;
    }
    if (ln == '') {
      showError("Last Name is empty");
      return false;
    }
  } else {
    var frname = trim($('input[name="frname"]').val());
    $('input[name="frname"]').val(frname);
    if (frname == '') {
      showError("Legal Name is empty");
      return false;
    }
  }

  var ssn = $('input[name="ssn"]').val().replace(/[^\d]+/g, '');
  if (ssn.length != 9) {
    if ($('input[name="type"]:checked').val()=='personal') {
      showError("Social Security Number entered incorrectly (9 digits)");
    } else {
      showError("Employer Identifcation Number entered incorrectly (9 digits)");
    }
    return false;
  }
//  alert(ssn);

  var zip = $('input[name="zip"]').val().replace(/[^\d]+/g, '');
  if (!zip.match(/^\d{5}$/)) {
    showError("ZIP code entered incorrectly");
    return false;
  }

  var phone = $('input[name="phone"]').val().replace(/[^\d]+/g, '');
  if (phone.length != 10) {
    showError("Phone number has wrong format (10 digits)");
    return false;
  }

  return true;
}
function checkStep3()
{
  if ($('#directory').val() == '') {
    showError("Short Name is empty");
    return false;
  }
  return true;
}
function checkStep4()
{
  var goal = $('input[name="cGoal"]').val().replace(/[^\d\.]+/g, '');
  $('input[name="cGoal"]').val(goal);
  return true;
}
function trim(stringToTrim) {
  return stringToTrim.replace(/^\s+|\s+$/g,"");
}
</script>