<?php

$this->headTitle($title);

?>
<?= $this->render('admin/aside.phtml') ?>
<section class="bigDashboard">
    <hr />
    <div class="bigBTN">
      <a class="button" id="createFundriserBTN" href="<?php echo $this->url(
array('controller'=>'admin','action'=>'createFundraiser'),
array('name' => 'default'));?>">
            <div class="icon">
            </div>
            <div class="text">
                <strong>Create</strong> a Fundraiser
            </div>
            <div class="help">
            </div>
      </a>
        <div class="button" id="supportFundriserBTN">
            <div class="icon">
            </div>
            <div class="text">
                <strong>Support</strong> a Fundraiser
            </div>
            <div class="help">
            </div>
        </div>
    </div>
    <hr />
    <div class="tabsBTN">
        <div class="button active" id="createdFundriser">
            <div class="help">
                <img src="/img/fundraiser/bigBTNQuest.png" />
            </div>
            MY CREATED FUNDRAISERS
        </div>
        <div class="button" id="supportedFundriser">
            <div class="help">
                <img src="/img/fundraiser/bigBTNQuest.png" />
            </div>
            MY SUPPORTED FUNDRAISERS
        </div>
    </div>

    <div class="box">
<?
if (count($fundraisers)>0) :
foreach($fundraisers as $fr) : ?>
        <div class="fundriserCard">
            <div class="image">
                <div class="logo">
                    <img style="width:139px;height:123px;" src="/<?=$fr['avatar']?$fr['avatar']:'img/createFundraiser/img.png'?>" alt="<?=$fr['frname']?>" />
                </div>
                <div class="labels">
                    <div class="active">
                        <?=$fr['status']=='U'?'Unverified':'Verified'?>
                    </div>
                    <div class="active">
                        Public
                    </div>
                </div>
            </div>
            <div class="data">
                <div class="title">
                    <?=$fr['type']=='personal'?$fr['firstName'].' '.$fr['lastName']:$fr['frname']?>
                </div>
                <a href="<?php echo $this->url(
array('controller'=>'admin','action'=>'editFundraiser'),
array('name' => 'default')).'?id='.$fr['id'];?>" class="edit"></a>
                <div class="info">
                    <span class="label">Type: </span>
                    <span class="sel1"><?=$types[$fr['type']]?></span><br />
                    <span class="label">Payee: </span>
                    <span class="sel2"><?=$fr['payee']?></span><br />
                    <span class="label">Total Raised: </span>
                    <span class="sel3">$0.00</span><br />
                    <span class="label">Supporters: </span>
                    <span class="sel4">0</span><br />
                </div>
            </div>
            <div class="text">
                <div class="share">
                    SHARE&nbsp;&nbsp;
                    <a href="/admin/rss"><img src="/img/fundraiser/rss.png" alt="RSS" /></a>
                    <a target="_blank" href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Fraise.org&title=my%20fundraiser"><img src="/img/fundraiser/sv.png" alt="StumbleUpon" /></a>
                    <a target="_blank" href="http://twitthis.com/twit?url=http%3A%2F%2Fraise.org&title=my%20fundraiser"><img src="/img/fundraiser/twitter.png" alt="Twitter" /></a>
                    <a target="_blank" href="http://www.facebook.com/share.php?u=http%3A%2F%2Fraise.org"><img src="/img/fundraiser/facebook.png" alt="Facebook" /></a>
                </div>
                <div class="link">
                    Raise Page<br />
                    <a href="/<?=$fr['directory']?>">http://www.raise.org/<?=$fr['directory']?></a>
                </div>
                <div class="info"><?=$fr['about']?></div>
                <div class="more">
                    <div class="link">
                        <a href="#">MORE</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
<?php endforeach;
else :
?>
<div class="#nocreated">No Created Fundraisers</div>
<?php
endif
?>

        <div class="pagination">
            <div class="pointer">
                PAGE 1
            </div>
            <a href="#" class="prev"></a>
            <a href="#" class="next"></a>
            <div class="all">
                <a href="#"><<</a>&nbsp;&nbsp;&nbsp;
                <a href="#"><</a>&nbsp;
                <a href="#" class="selected">1</a>&nbsp;
<!--                <a href="#">2</a>&nbsp;
                <a href="#">3</a>&nbsp;
                ...&nbsp;
                <a href="#">27</a>&nbsp; -->
                <a href="#">></a>&nbsp;&nbsp;&nbsp;
                <a href="#">>></a>&nbsp;
            </div>
            <div class="clear"></div>
        </div>

    </div>
</section>
<div class="clear"></div>
