<?php

$this->headTitle($title);

?>
<?= $this->render('admin/aside.phtml') ?>
<section>
    <div class="box editProfile">
        <h1>Edit <small>Your Profile</small></h1>
        <div class="errorPlace" style="display:none">
            <div class="text" id="errorText"></div>
        </div>
        <form action="<?php echo $this->url(
array('controller'=>'admin','action'=>'editProfile'),
array('name' => 'default'));?>" method="post" id="editProfileForm" enctype="multipart/form-data">
            <div class="leftSide">
                <label>
                    First Name<br />
                    <input type="text" name="firstName" value="<?=$user['firstName']?>" />
                </label>
                <label>
                    Last Name<br />
                    <input type="text" name="lastName" value="<?=$user['lastName']?>" />
                </label>
                <label>
                    E-mail Address<br />
                    <input type="text" id="email" name="email" value="<?=$user['email']?>" />
                </label>
                <label class="inline">
                    Verify E-mail address
                    <input type="text" id="vEmail" name="vEmail" value="<?=$user['email']?>" />
                </label>
                <label>
                    Password<br />
                    <input type="password" id="password" name="password" />
                </label>
                <label class="inline">
                    Verify Your Password
                    <input type="password" id="vPassword" name="vPassword" />
                </label>
                <iframe name="uploader" id="uploader" style="display:none"></iframe>
                <label class="picture">
                    Profile Picture<br />
                    <input type="file" name="avatar" id="avatar" />
                    <div class="fileHider">
                        <div class="fileName" style="white-space:nowrap;overflow:hidden;"></div>
                    </div>
                    <div class="avatar" style="overflow:hidden">
                        <div style="height:11px;margin-top:14px;text-align:center;position:relative; z-index:100"><img style="display:none" id="avatarActivity" src="/img/ajax-loader.gif"></div>
                        <img id="imgAvatar" style="width:95px; margin-top:-25px;" src="<?=$_SESSION['auth']['avatar']?
                          '/'.$_SESSION['auth']['avatar']:"/img/editProfile/avatar.png"?>" />
                    </div>
                </label>
            </div>
            <div class="rightSide">
                <label>
                    Street Address<br />
                    <input type="text" name="address1" value="<?=$user['address1']?>" />
                </label>
                <label>
                    <input type="text" name="address2" value="<?=$user['address2']?>" />
                </label>
                <label class="halfLeft">
                    City<br />
                    <input type="text" name="city" value="<?=$user['city']?>" />
                </label>
                <label class="halfRight">
                    State<br />
                    <select name="state" id="selectState">
                      <option value="">Select a State</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="DC">District Of Columbia</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                    <div class="selectorHider"><div class="selectorValue">Select a State</div></div>
                </label>
                <div class="clear"></div>
                <label>
                    Zip Code<br />
                    <input type="text" name="zip" value="<?=$user['zip']?>" />
                </label>
                <label>
                    Phone Number<br />
                    <input type="text" name="phone" value="<?=$user['phone']?>" />
                </label>
            </div>
            <input type="hidden" name="avatarTemp">
            <div class="clear"></div>
            <button type="submit">Accept</button>
        </form>
    </div>
</section>
<div class="clear"></div>
<script>
$(document).ready(function(){
  <? if (!empty($_GET['m']) && $_GET['m']=='OK') : ?>
  $('div.errorPlace').addClass('accept');
  $('div#errorText').html('Changes Accepted');
  $('div.errorPlace').show();
  <? endif ?>

  $('input[name="phone"]').mask("999-999-9999");

  $('#selectState').change(function(){
    $('.selectorValue').html($('#selectState option:selected').html());
  });
  $('#selectState').focus(function(){
    $('.selectorHider').addClass('focus');
  });
  $('#selectState').blur(function(){
    $('.selectorHider').removeClass('focus');
  });

  $('#selectState').val('<?=$user['state']?>');
  $('.selectorValue').html($('#selectState option:selected').html());

  $('#avatar').change(function(){
    $('.fileName').html($('#avatar').val().replace(/.*?([^\/\\]+)$/, "$1"));

    var oldAction = $('#editProfileForm').attr('action');
    $('#editProfileForm').attr('target', 'uploader');
    $('#editProfileForm').attr('action', '<?php echo $this->url(
array('controller'=>'admin','action'=>'fileUploadProfile'),
array('name' => 'default'));?>');
    $('#uploader').load(function(){
      $('#avatarActivity').hide();
      var content = $(this.contentWindow.document.body).html();
      if (content == '666') {
        showError('The uploaded file is not an image');
        $('.fileName').html('');
      } else if (content != 'false') {
        $('input[name=avatarTemp]').val(content);
        $('#reAvatar').attr('src', '/'+content);
        $('#imgAvatar').attr('src', '/'+content);
      } else {
        $('input[name=avatarTemp]').val('');
      }
    });
    $('#avatarActivity').show();
    $('#editProfileForm').submit();

    $('#editProfileForm').attr('target', '').attr('action', oldAction);
  });
  $('#avatar').focus(function(){
    $('.fileHider').addClass('focus');
  });
  $('#avatar').blur(function(){
    $('.fileHider').removeClass('focus');
  });

/*
  $('#avatar').change(function(){
    $('.fileName').html($('#avatar').val().replace(/.*?([^\/\\]+)$/, "$1"));
  });
*/

  $('#editProfileForm').submit(function(){
    if ($('input[name=firstName]').val() == '') {
      showError('First Name is empty');
      return false;
    }
    if ($('input[name=lastName]').val() == '') {
      showError('Last Name is empty');
      return false;
    }
    if ($('#email').val() == '') {
      showError('Email is empty');
      return false;
    }
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (! re.test($('#email').val())) {
      showError('Email is not valid');
      return false;
    }
    if ($('#email').val() != $('#vEmail').val()) {
      showError('Emails did not match');
      return false;
    }
    if ($('#password').val() != $('#vPassword').val()) {
      showError('Passwords did not match');
      return false;
    }
    var phone = $('input[name="phone"]').val().replace(/[^\d]+/g, '');
    if (phone.length != 10) {
      showError("Phone number has wrong format (10 digits)");
      return false;
    }

    $('.errorPlace').hide();
    return true;
  });
});
function showError(text)
{
  $('div.errorPlace').removeClass('accept');
  $('div#errorText').html(text);
  $('div.errorPlace').show();
}
</script>