<?php

$title = 'Admin page';
$this->headTitle($title);

?>
  <tr>
    <td style="width:240px;">
    </td>
    <td style="vertical-align: top;">
      <p>Admin page</p>
      <p><a href="/user/login">log in</a></p>
      <p><a href="/user/register">or register</a></p>
      <form>

      </form>
    </td>
  </tr>
</table>
</div>