<?php

$title = 'User tab';
$this->headTitle($title);

?>
<tr>
  <td style="width:240px;">
  </td>
  <td style="vertical-align: top;">
    <form method="POST">
      <a href="/fundraiser/?id=<?=$fundraiser[0]['id'] ?>">back to fundraiser page</a><br>
      <h1><?php echo $this->escape($title); ?></h1>
      <input type="text" name="name" value="<?=$user['name'] ?>"> Full name<br>
      <input type="password" name="password" value=""> Change password<br>
      <input type="text" name="address" value="<?=$user['address'] ?>"> Address<br>
      <input type="text" name="phone" value="<?=$user['phone'] ?>"> Phone<br>
      <input type="text" name="email" value="<?=$user['email'] ?>"> E-mail<br>
      <input type="submit" name="submit" value="OK"><br>

      <h1>Fundraiser Tab</h1>
      List of Fundraisers<br>
      <table style="background: #eee;">
      <tr><td>Name</td><td>Goal</td><td>Collected</td></tr>
      <?php foreach($fundraisers as $fundraiser) : ?>
      <tr>
        <td>
          <a href="<?php echo $this->url(
array('controller'=>'fundraiser','action'=>'edit'),
array('name' => 'default')) . '?id=' . $fundraiser['id'] ;?>"><?=$fundraiser['frname'] ?></a>
        </td>
        <td><?=$fundraiser['required'] ?></td>
        <td><?=$fundraiser['collected'] ?></td>
        <td><a href="<?=$this->url(
array('controller'=>'fundraiser','action'=>''),
array('name' => 'default')) . '?id=' . $fundraiser['id'] ?>">go to fundraiser page</a></td>
      </tr>
      <?php endforeach; ?>
      </table>
      <a href="<?php echo $this->url(
array('controller'=>'fundraiser','action'=>'add'),
array('name' => 'default')) . '?id=' . $fundraiser['id'] ;?>">Create New Fundraiser</a><br>

    </form>
  </td>
</tr>
</table>
</div>
