<?php

$title = 'Register a new user or log in';
$this->headTitle($title);

?>
<div class="register">
    <h1>Register New Account</h1>
    <div class="errorPlace" id="errorPlace1" style="display:none">
        <div class="text" id="errorText1"></div>
    </div>
    <form action="<?php echo $this->url(
array('controller'=>'user','action'=>'register'),
array('name' => 'default'));?>" method="post" id="registerForm">
        <label>
            First Name<br />
            <input type="text" name="firstName" />
        </label>
        <label>
            Last Name<br />
            <input type="text" name="lastName" />
        </label>
        <label>
            E-mail Address<br />
            <input type="text" name="email" id="regEmail"/>
        </label>
        <label class="inline">
            Verify E-mail Address
            <input type="text" name="vEmail" id="regVEmail" />
        </label>
        <label>
            Password<br />
            <input type="password" name="password" id="regPassword" />
        </label>
        <label class="inline">
            Verify Your Password
            <input type="password" name="vPassword" id="regVPassword" />
        </label>
        <button type="submit">Sign Up</button>
    </form>
</div>
<div class="login">
    <h1>Login</h1>
  <div class="errorPlace" id="errorPlace2" style="display:none">
      <div class="text" id="errorText2"></div>
  </div>
    <form action="<?php echo $this->url(
array('controller'=>'user','action'=>'login'),
array('name' => 'default'));?>" method="post" id="loginForm">
        <input type="text" name="email" placeholder="E-mail" /><br />
        <input type="password" name="password" placeholder="Password" /><br />
        <button type="submit">Login</button>
        <label>
            <!--div class="checkHider"></div-->
            <input type="checkbox" name="keep" value="1" />
            keep me logged in
        </label>
    </form>
    <div class="bottom">
        <img src="/img/loginFormBottom.png" />
    </div>
    <div class="forgot">
        Forgot your password? <a href="#">Click here</a>
    </div>
</div>
<div class="clear"></div>
<script>
$(document).ready(function(){
<? if ($message) : ?>
$('div#errorText<?=$side?>').html('<?=$message?>');
$('div#errorPlace<?=$side?>').show();
<? else : ?>
$('div#errorPlace<?=$side?>').hide();
<? endif ?>

  $('#registerForm').submit(function(){

    if ($('input[name=firstName]').val() == '') {
      $('#errorText1').html('First Name is empty'); $('div#errorPlace1').show();
      return false;
    }
    if ($('input[name=lastName]').val() == '') {
      $('#errorText1').html('Last Name is empty'); $('div#errorPlace1').show();
      return false;
    }
    if ($('#regEmail').val() == '') {
      $('#errorText1').html('Email is empty'); $('div#errorPlace1').show();
      return false;
    }
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (! re.test($('#regEmail').val())) {
      $('#errorText1').html('Email is not valid');  $('div#errorPlace1').show();
      return false;
    }
    if ($('#regEmail').val() != $('#regVEmail').val()) {
      $('#errorText1').html('Emails did not match');  $('div#errorPlace1').show();
      return false;
    }
    if ($('#regPassword').val() == '') {
      $('#errorText1').html('Password is empty');  $('div#errorPlace1').show();
      return false;
    }
    if ($('#regPassword').val() != $('#regVPassword').val()) {
      $('#errorText1').html('Passwords did not match');  $('div#errorPlace1').show();
      return false;
    }
    return true;
  });
});
</script>