<?php
$title = 'Add new campaign';
$this->headTitle($title);
?>
<h1><?php echo $this->escape($title); ?></h1>

<?php
$form->setAction($this->url(
        array('controller' => 'campaign', 'action' => 'add'),
        array('name' => 'default'))
    )->setView($this);
echo $form;
?>

<script type="text/javascript" src="/js/jquery-1.6.1.js" ></script >
<script type="text/javascript" src="/js/tiny_mce/tiny_mce.js" ></script >
<script type="text/javascript">
tinyMCE.init({
mode : "textareas",
theme_advanced_toolbar_location : "top",
theme_advanced_toolbar_align : "left",
theme_advanced_statusbar_location : "bottom",
theme_advanced_resizing : true,
theme : "advanced"
});
</script>
