<?php
$title = 'Delete campaign';
$this->headTitle($title);
?>
<h1><?php echo $this->escape($title); ?></h1>

<p>Are you sure that you want to delete campaign
  '<?php echo $this->escape($campaign['name']); ?>'?
</p>
<?php 
$url = $this->url(
    array('controller' => 'campaign', 'action' => 'delete'),
    array('name' => 'default')); ?>
<form action="<?php echo $url; ?>" method="post">
<div>
  <input type="hidden" name="id" value="<?php echo (int)$campaign['id']; ?>" />
  <input type="submit" name="del" value="Yes" />
  <input type="submit" name="del" value="No" />
</div>
</form>