<?php



$title = 'My fundraisers';
$this->headTitle($title);
?>
<div id="background">
<table>
  <tr>
    <td colspan="2" style="height:25px;">
      <div id="logged">
        <? /*if ($GLOBALS['auth']->hasIdentity()) {*/
        if (isset($_SESSION['auth'])) { ?>
        Logged in as: <a href="/user/info"><?=$_SESSION['auth']['username'] ?></a> | <a href="/user/logout">Log Out</a>
        <? } else { ?>
        <a href="/user/login">Log In</a> | <a href="/user/register">Register</a>
        <? } ?>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="height:70px;">
      <a href="#about">
      <div style="height:100%;float:right;margin-right:34px;color:#fff;font-size:20px;width:340px">&nbsp;</div>
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="height:109px;vertical-align: top;">
      <div style="position:absolute;margin-left:105px;margin-top:32px;color:#8ddb87;font-size:14px;">
        <? /*if ($GLOBALS['auth']->hasIdentity()) {*/
        if (isset($_SESSION['auth'])) { ?>
        <a class="raisegreen" href="/user/info"><?=$_SESSION['auth']['username'] ?></a>
        <? } ?>
      </div>
      <div style="float:left;margin-left:105px;margin-top:60px;color:#fff;font-size:20px;">
        <?=empty($fundraisers['frname'])?'Fundraiser Number One':$fundraisers['frname']; ?>
      </div>
      <div id="links2">
        <a href="#" class="raisegreen" id="raisepagehome"><img src="/img/raisepagehome.jpg">Raise Page Home</a>
        <a href="#" class="raiselinks"><img src="/img/merchants.jpg">Merchants</a>
        <a href="#" class="raiselinks"><img src="/img/couponsdeals.jpg">Coupons & Deals</a>
      </div>
    </td>
  </tr>
  <tr>
    <td style="width:240px;">
      <div class="leftblock">
        <div class=header>About this page</div>
        <div style="margin: 0 5px 10px 5px;">
        <img src="/img/avatar.jpg" align="left" style="padding-right:10px;">
        <p class="leftinnerheader">Created By</p>
        testuser
        <a href="#">view profile</a>
        </div>

        <p class="leftinnerheader">Total Raised</p>
        <p class="lefttotal">$0.00</p>

        <p class="leftinnerheader">Description</p>
        
        <p>
        <?=empty($fundraisers['summary'])?'Fundraiser Number One':$fundraisers['summary']; ?>
         <a href="#">expand</a>
        </p>
      </div>
      <div class="leftblock">
        <div class=header>Browse by Merchant</div>
        <p>
        </p>
      </div>
      <div class="leftblock">
        <div class=header>Search</div>
        <p>
          <form class="search">
            <p><label><input name="searchoption" type="radio">Search Merchants</p></label>
            <p><label><input name="searchoption" type="radio">Search Coupons and deals</p></label>
            <p><input type="text"></p>
          </form>
        </p>
      </div>
      <div class="leftblock">
        <div class=header>Guestbook</div>
        <p>
        </p>
      </div>
    </td>
    <td style="vertical-align: top;">
      <div id="welcome">
        <p style="font-weight: bold;">
          Welcome! This is a Raise Page.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
        </p>
      </div>
      <div class="right">
        <div class="rightinnerheader">
          About <?=empty($fundraisers['frname'])?'Fundraiser Number One':$fundraisers['frname']; ?>
        </div>
        <table class="leftinner"><tr>
        <td rowspan="2" style="width:50%">
        <img src="/img/logo.jpg" align="left" style="margin-right:5px">
        <p class="header">
          Mission Statement
        </p>
        <p>
          <?=empty($fundraisers['summary'])?'summary....summary....summary....':$fundraisers['summary']; ?>
        </p>
        </td>
        <td>
          <p class="header">
            Total Supporters
          </p>
          <p>
            0
          </p>
        </td>
        <td>
          <p class="header">
            Payee Name
          </p>
          <p>
            <?=empty($fundraisers['frname'])?'Fundraiser Number One':$fundraisers['frname']; ?>
          </p>
        </td>
        </tr><tr>
        <td colspan="2">
          <p class="header">
            Campaign
          </p>
          <p>
            Goal: $<?=empty($fundraisers['required'])?'50000':$fundraisers['required']; ?>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Current: $0.00
          </p>
          <p>
            0% complete
          </p>
        </td>
        </tr></table>
      </div>
    </td>
  </tr>
</table>
</div>

<!--
<h1><?php echo $this->escape($title); ?></h1>
<p><a href="<?php echo $this->url(array('controller'=>'fundraiser', 
        'action'=>'add'), array('name' => 'default'));?>">Add new fundraiser</a></p>

<table>
<tr>
    <th>frname</th>
    <th>directory</th>
    <th>&nbsp;</th>
</tr>
<?php foreach($fundraisers as $fundraiser) : ?>
<tr>
    <td><?php echo $this->escape($fundraiser->frname);?></td>
    <td><?php echo $this->escape($fundraiser->directory);?></td>
    <td>
        <a href="<?php echo $this->url(
            array('controller'=>'fundraiser','action'=>'edit'), 
            array('name' => 'default')) . '?id=' . $fundraiser->id ;?>">Edit</a>
        <a href="<?php echo $this->url(
            array('controller'=>'fundraiser','action'=>'delete'), 
            array('name' => 'default')) . '?id=' . $fundraiser->id ;?>">Delete</a>
    </td>
</tr>
<?php endforeach; ?>
</table>
-->