<?php

$title = 'User page';
$this->headTitle($title);

?>
  <tr>
    <td style="width:240px;">
    </td>
    <td style="vertical-align: top;">
      <p>User page</p>
      <p><a href="/admin/login">log in or register</a></p>
      <form>

      </form>
    </td>
  </tr>
</table>
</div>