<?php

$title = 'Login page';
$this->headTitle($title);

?>
  <tr>
    <td style="width:240px;">
    </td>
    <td style="vertical-align: top;">
      <p><a href="/user">back</a></p>
      <h1><?php echo $this->escape($title); ?></h1>
      <form name="register" method="POST">
        <input type="text" name="username"> Username<br>
        <input type="password" name="password"> Password<br>
        <input type="submit" name="submit" value="OK">
      </form>
    </td>
  </tr>
</table>
</div>