<?php

$title = 'Register a new user';
$this->headTitle($title);

?>
            <div class="register">
                <h1>Register New Account</h1>
                <div class="errorPlace">
                    <div class="close"></div>
                    <div class="text" id="errorText"></div>
                </div>
                <form action="<?php echo $this->url(
array('controller'=>'user','action'=>'register'),
array('name' => 'default'));?>" method="post">
                    <label>
                        First Name<br />
                        <input type="text" name="firstName" />
                    </label>
                    <label>
                        Last Name<br />
                        <input type="text" name="lastName" />
                    </label>
                    <label>
                        E-mail Address<br />
                        <input type="text" name="emailAddress" />
                    </label>
                    <label class="inline">
                        Verify E-mail Address
                        <input type="text" name="vEmailAddress" />
                    </label>
                    <label>
                        Password<br />
                        <input type="password" name="password" />
                    </label>
                    <label class="inline">
                        Verify Your Password
                        <input type="password" name="vPassowrd" />
                    </label>
                    <button>Sign Up</button>
                </form>
            </div>
            <div class="login">
                <h1>Login</h1>
                <form action="<?php echo $this->url(
array('controller'=>'user','action'=>'login'),
array('name' => 'default'));?>" method="post">
                    <input type="text" name="username" placeholder="E-mail" /><br />
                    <input type="password" name="password" placeholder="Password" /><br />
                    <button>Login</button>
                    <label>
                        <div class="checkHider">
                        </div>
                        <input type="checkbox" name="keep" />
                        keep me logged in
                    </label>
                </form>
                <div class="bottom">
                    <img src="/img/loginFormBottom.png" />
                </div>
                <div class="forgot">
                    Forgot your password? <a href="#">Click here</a>
                </div>
            </div>
            <div class="clear"></div>